# Node.js
node_modules/
build/
dist/

# Python
__pycache__/
*.pyc
.venv/
env/
*.egg-info/

# Ignore everything inside processed and raw
# Ignore all files inside raw and processed, but not the folders
backend/data/raw/*
backend/data/processed/*
!backend/data/raw/
!backend/data/processed/

# OS / Editor
.DS_Store
.vscode/
*.log

# Environment
.env
Dockerfile
.dockerignore
