# Use the PyTorch CPU repository as an EXTRA source for packages
--extra-index-url https://download.pytorch.org/whl/cpu

# PyTorch CPU-only packages
torch
torchvision
torchaudio

# Application dependencies (will be found on the default PyPI)
fastapi
uvicorn[standard]
python-dotenv
requests
qdrant-client
sentence-transformers
langchain
authlib
itsdangerous
httpx
PyMuPDF
PyJWT
pinecone
psycopg2-binary
sqlalchemy